@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: poppins;
}
body > section > form > div:nth-child(6) > h3
{
  color: #4CCE6C;
}
nav{
  background: #000000;
  height: 80px;
  width: 100%;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding-left: 50px;
  font-weight: bold;
}
label.logo a {
  color: #fff;
}

nav ul{
  float: right;
  padding-right: 100px;
  z-index: 2;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: rgb(255, 0, 0);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav ul li a.active,nav ul li a:hover{
  background: #afb1b3;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  nav ul li a:hover,a.active{
    background: none;
    color: #fa0c0c;
  }
  nav ul li a.active,nav ul li a:hover{
    background: none;
    transition: none;
  }
  #check:checked ~ ul{
    left: 0;
  }
}


/* section de reservation */
section{
  background-image:linear-gradient(rgba(224, 100, 100, 0.5),rgba(0,0,0,0.5));
  background-size:cover;
  height: 100vh;
  width: 100%;
}
form{
  width: 85%;
  max-width: 500px;
  background: #0f0f0f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 20px #c4b7b7b3;
}

h1{
  margin-top: 0;
  font-weight: 200;
  margin-bottom: 12px;
}
.container{
  margin: 8px 0;
  padding: 8px 18px;
  border-radius: 5px;
  justify-content: center;
}
#select1{
  padding: 12px 50px;
  transform: translateX(-13px);
  margin: 8px 0;
  border-radius: 40px;
  border:none;

}
#select2{
  padding: 12px 25px;
  transform: translateX(-12px);
  margin: 8px 0;
  border-radius: 40px;
  border:none;

}
#select3{
  padding: 12px 14.5px;
  transform: translateX(-13px);
  margin: 8px 0;
  border-radius: 40px;
  border:none;

}
input{
  padding: 12px 27px;
  transform: translateX(-13px);
  margin: 8px 0;
  border-radius: 40px;
  outline: none;
  border:none;
  text-align: center;
}


section .container a{
  display: inline-block;
  background: #4CCE6C;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  padding: 12px 95px;
  transform: translateX(-13px);
  border:none;
  outline: none;
  border-radius: 40px;
  margin-bottom: 20px;
}

/* -------Footer---------- */

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.copyright{
text-align: center; 
background:#212528 ;
color: #fff;
margin: 0;
padding-bottom: 15px;
}

.copyright p{
margin: 0;
}